<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
	<meta charset="UTF-8" />
	<title>TEA : HOME</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{css/Home.css}" />
	<style>
		body{
			background-image: url("https://wallpapers.com/images/hd/beef-vegetable-burritos-v4i6nj2atgivsstd.jpg"); 
			 background-size: cover; 
        
    
		}
	</style>
</head>

<body>
	<nav th:replace="~{Navigation::navbar()}"></nav>
	<div class="text">
	<h1 style="color: white">WELCOME TO AVENGERS RESTAURANTS </h1>
	<h3 style="color: red">Hulk smash...your taste buds!</h3>
	<h3 style="color: red">Bite-sized snacks, bite-sized heroes</h3>
	</div>
	
</body>

</html>
